@import "variables.scss";
@import "../blocks/body/body.scss";
@import "../blocks/header/header.scss";
@import "../blocks/main/main.scss";
@import "../blocks/brands/brands.scss";
@import "../blocks/types/types.scss";
@import "../blocks/price/price.scss";
@import "../blocks/footer/footer.scss";
@import "../blocks/menu/menu.scss";
@import "../blocks/feedback/feedback.scss";
@import "../blocks/callback/callback.scss";