body {
    font-family: "TT Lakes";
    background-color: $background-white;
    min-width: 320px;
    margin: 0;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}