.price {
    background: $background-gray;

    &__title {
        background-image: $gradient;
        min-width: 320px;
        height: auto;
        border-top: 1px solid #D9FFF5;

        p {
            font-family: 'TT Lakes Regular';
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-transform: uppercase;
            vertical-align: center;
            color: $text-gray;
            padding: 16px;
            margin: 0;
        }
    }

    &__content {
        margin: 0 auto;
    }

    &__table-title {
        display: none;
        margin: 32px 40px 16px 40px;

        @media screen and (min-width: 768px) {
            display: grid;
            margin: 0;
            align-items: center;
            grid-template-columns: 3fr repeat(3, 1fr);
            
            font-family: TT Lakes Regular;
            font-size: 14px;
            line-height: 16px;
            color: $text-gray;
        }
    }

    &__table {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 16px 8px;
        padding: 0;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-rows: repeat(5, 65px);

            background-color: $background-white;
            border-radius: 6px;
            padding: 0;
            margin: 0 24px;
        }

        @media screen and (min-width: 1366px) {
            margin: 0 32px;
        }

        &-row {

        }
    }
}