.brands {
    background: $background-gray;
    
    &__title {
        background-image: $gradient;
        min-width: 320px;
        height: auto;
        border-top: 1px solid #D9FFF5;

        p {
            font-family: 'TT Lakes Regular';
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-transform: uppercase;
            vertical-align: center;
            color: $text-gray;
            padding: 16px;
            margin: 0;
        }
    }

    &__content {
        // width: max-content;
        margin: 24px auto;
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 224px);
            row-gap: 16px;
            column-gap: 24px;
            padding: 0;
            margin: 0;
        }
        @media screen and (min-width: 1366px) {
            grid-template-columns: repeat(4, 240px);
            row-gap: 16px;
            column-gap: 32px;
        }

        &-item {
            width: auto;
            height: auto;

            &-button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 240px !important;
                min-height: 72px;
                background: $background-white;
                border: 1px solid #EAEAEA;
                box-sizing: border-box;
                border-radius: 6px;

                @media screen and (min-width: 768px) {
                    width: 224px !important;
                }
            }
    
            &-image {
                margin-left: 16px;
            }
            &-go {
                margin-right: 16px;
            }
        }        
    }

    &__show-more {
        display: none;

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            font-family: TT Lakes Medium;
            color: $text-black;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $text-black;
            margin-top: 24px;
        }        

        img {
            margin-right: 8px;
        }
    }
}

.hidden{
    display: none;
}