.brands {
    background: $background-gray;

    &__content {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
        }
    }

    &__content-swiper {

        @media screen and (min-width: 768px) {
            display: none;
        }
    }

    
    &__title {
        background-image: $gradient;
        min-width: 320px;
        height: auto;
        border-top: 1px solid #D9FFF5;

        p {
            font-family: 'TT Lakes Regular';
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            text-transform: uppercase;
            vertical-align: center;
            color: $text-gray;
            padding: 16px;
            margin: 0;
        }
    }

    &__content, &__content-swiper {
        margin: 24px 16px;

        @media screen and (min-width: 768px) {
            margin: 24px auto;
            width: max-content;
        }
    }

    &__list {
        padding: 0;

        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: repeat(3, 224px);
            row-gap: 16px;
            column-gap: 24px;
            padding: 0;
            margin: 0;
        }
        @media screen and (min-width: 1366px) {
            grid-template-columns: repeat(4, 240px);
            row-gap: 16px;
            column-gap: 32px;
        }

        &-item {
            width: auto;
            height: auto;

            &-button {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 240px !important;
                min-height: 72px;
                background: $background-white;
                border: 1px solid #EAEAEA;
                box-sizing: border-box;
                border-radius: 6px;

                @media screen and (min-width: 768px) {
                    width: 224px !important;
                }
            }
    
            &-image {
                margin-left: 16px;
            }
            &-go {
                margin-right: 16px;
            }
        }        
    }

    &__show-more{
        display: none;

        font-family: TT Lakes Medium;
        color: $text-black;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        color: $text-black;

        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;

            margin-top: 24px;
            
        
            &::before{
            content: url('../assets/img/expand.svg');
            margin-right: 8px;
        }

        }
    }
    
    &__hidden-more{

        align-items: baseline;

        &::before{
            transform: rotate(180deg);
        }
    }
}