.menu {
    position: absolute;
    top: 0;
    left: -320px;  
    min-width: 320px; 
    
    transform: translate(-320x);
    transition-duration: 1s;
    z-index: 10;

    // @media screen and (man-width: 1366px) {
    //     transform: translate(320x);
    //     transition-duration: 1s;
    // }    

    &__wrapper {
        background: $background-white; 
        min-width: 320px;       
        min-height: 100vh;
        
        display: flex;
        flex-direction: column;
        justify-content: flex-start;


        @media screen and (min-width: 1366px) {
            position: fixed;
            top: 0;
            left: 0;
            transform: translate(0);
            height: 100vh;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-button-close {
            margin: 23px;

            @media screen and (min-width: 1366px){
                display: none;
            }
        }

        &-button-group {
            margin: 16px;

            @media screen and (min-width: 1366px){
                margin-left: 22px;
            }
        }

        &-button-search {
            margin: 23px;

            @media screen and (min-width: 1366px){
                margin: 30px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 16px 0 0 0;
        padding: 0;

        &-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &:hover, &:focus {
                
                outline: none !important;

                a {
                    color: $text-gray;
                }           
    
                &::before{
                    content: '';
                    height: 32px;
                    width: 4px;
                    background-color: $hightlight;
                }
            }

            &-link {
                font-family: 'TT Lakes Medium';
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.2px;
                color: $text-black;
                width: 100%;
                margin: 16px 0 16px 24px;
            }
        }

        .active-link {

            a {
                color: $text-gray;
            }           

            &::before{
                content: '';
                height: 32px;
                width: 4px;
                background-color: $hightlight;
              }
        }
    }    

    &__buttons {
        display: flex;
        margin: 0 16px 16px 24px;
        margin-left: 24px;  
        margin-bottom: 16px;  
    } 
        
    &__button {
        margin-right: 16px;
    }

    &__contacts {
        display: flex;
        flex-direction: column;

        &-mail {
            font-family: 'TT Lakes Medium';
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $text-black;
            margin-bottom: 12px;
            margin-left: 24px;
        }

        &-number {
            font-family: 'TT Lakes Bold';
            font-size: 24px;
            line-height: 32px;
            letter-spacing: -0.6px;
            color: $text-black;
            margin-left: 24px;
            margin-bottom: 40px;
        }
    }

    &__language {
        display: flex;
        flex-direction: row;
        margin-bottom: 32px;
        margin-left: 24px;

        &-button {
            font-family: 'TT Lakes Medium';
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: $text-black;
            margin-right: 7px;
        }

        .active-language {
            color: $text-gray;
        }
    }

    &__footer {

        @media screen and (min-width: 1366px) {
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    &--open {
        @media screen and (max-width: 1366px){
            transform: translate(320px);
            transition-duration: 1s;
            z-index: 10;

            box-shadow: 5px 0 50px 10px $shadow;
        }
    }

    // &--close {
    //     @media screen and (max-width: 1366px){
    //         transform: translate(-320px);
    //         transition-duration: 1s;
    //         z-index: 10;
    //     }

    // }
}

